<h2> Project Details </h2>

<h3> <%= @my_posting.title %> </h3>
<p> <%= @my_posting.description %> </p>
<p> <%= @my_posting.location %> </p>
<p> <%= @my_posting.email %> </p>
<p> <%= @my_posting.phone %> </p>

