<div class="container container-details">

	<div class="details">
			<u><h2> Project Details </h2></u>

		<div class="boxed">
			<h4>Title: <%= @my_posting.title %> </h4>
			<h4>Description: <%= @my_posting.description %></h4>
			<h4>Address: <%= @my_posting.location %> </h4>
			<h4>phone: <%= @my_posting.phone %> </h4>
			<h4>email: <%= @my_posting.email %> </h4><br>
	  
	  
		<button class="w3-btn"> <a href="/postings/<%= @my_posting.id%>/edit">edit</a></button>
		<button class="w3-btn"><%= link_to "delete", delete_posting_path(@my_posting.id), method: "delete", data: {confirm: "Are you sure?"} %></button>
		</div>

	</div>

</div>


<div class="container container-reviews" >

	<div class="details-2">
		<u><h2> Reviews </h2></u>

		<% @review_array.each do |review| %>
			<div class="boxed2">
					<h5>Author: <%= review.name %><h5>
				    <h5>Review: <%= review.notes %></h5>
					<h5>Rating: <%= review.rating %>/10</h5>
	
			<% if user_signed_in? %>
				<button class="w3-btn"><%= link_to "edit", edit_posting_review_path(@my_posting.id, review)%></button>
				<button class="w3-btn"><%= link_to "delete", delete_review_path(@my_posting.id, review), method: "delete", data: {confirm: "Are you sure?"} %></button>
			
		</div>
		<%end%><br>
		<% end %>
			

 		<button class="w3-btn"><a class="btn" href= "/postings/<%= @my_posting.id%>/reviews/new"> Add a review </a></button>

	</div>

</div>






	