
	<div class="container container-details">
	
	<div class="details">
			<u><h2> Project Details </h2></u>
	
			
		<div class="boxed">
			<h4>Title: <%= @my_posting.title %> </h4>
			<h4>Description:<%= @my_posting.description %></h4>
			<h4>Address: <%= @my_posting.location %> </h4>
			<h4>phone: <%= @my_posting.phone %> </h4>
			<h4>email: <%= @my_posting.email %> </h4>
		</div>
	</div>
	</div>


	<div class="container container-reviews" >

	<div class="details2">
		<u><h2> Reviews </h2></u>
	
			<% @review_array.each do |x| %>
		<div class="boxed2">
				
					<h5>Author: <%= x.name %><h5>
			
				    <h5>Review: <%= x.notes %></h5>
			
					<h5>Rating: <%= x.rating %>/10</h5>
				
		</div>
				<%end%>
	</div>
	</div>


<a class="btn" href= "/postings/<%= @my_posting.id%>/reviews/new"> Add a review </a>





	